@mixin border-radius {
  border-radius: 10px;
}

$color-white: #ffffff;
$color-black: #000000;
$color-box-shadow: #4b53bc;
$color-mint: #75BDAD;
$color-blue: #ffffff;
$color-square-gradient: linear-gradient(4deg, rgba(29.4, 32.5, 73.7, 0.808) 55%, rgba(74, 247, 255, 0.08) 100%);
$color-square-webkit-gradient: -webkit-linear-gradient(4deg, rgba(29.4, 32.5, 73.7,0.29) 55%, rgba(74, 247, 255, 0.08) 100%);
